# CMSE 202 Final Project
## Factors of Generational Wealth
## Questions we are trying to answer
1. How race & education impact generational wealth over time?
2. How has the income gap changed over time?
3. Find the most important factors that impact generational wealth.
4. How does a hand made model compare to a pre made machine learning model?

In [1]:
## Import useful libraries
import pandas as pd

In [38]:
## Reading in the data
education = pd.read_csv("dfa-education-levels.csv")
race = pd.read_csv("dfa-race-levels.csv")
networth = pd.read_csv("dfa-networth-levels.csv")
generation = pd.read_csv("dfa-generation-levels.csv")
income = pd.read_csv("dfa-income-levels.csv")

In [39]:
## cleaning all of the data
data = [education,race,networth,generation,income]
for i in range(len(data)):
    data[i] = data[i].drop(columns = data[i].columns[3:14])
    data[i][['Year','Quarter']] = pd.DataFrame(data[i].Date.str.split(':',1).tolist(), columns = ['year','quarter'])
    data[i] = data[i].drop(columns = ['Date'])
education = data[0]
race = data[1]
networth = data[2]
generation = data[3]
income = data[4]

In [40]:
## Modeling
education_level = 'College'
if education_level == 'College':
    avg_education = education['Net worth'].iloc[-4]

In [88]:
generation

       Category  Net worth  Year Quarter
0        Silent   16004832  1989      Q3
1      BabyBoom    4348518  1989      Q3
2          GenX      77804  1989      Q3
3    Millennial          0  1989      Q3
4        Silent   16067852  1989      Q4
..          ...        ...   ...     ...
491  Millennial    4145757  2020      Q1
492      Silent   18784932  2020      Q2
493    BabyBoom   59556752  2020      Q2
494        GenX   28521057  2020      Q2
495  Millennial    5189539  2020      Q2

[496 rows x 4 columns]

In [117]:
## predicting wealth function based on educataion, race, generation
def predict_wealth(education_level,race_,generation_):  # Adam 
    avg_education = None 
    avg_race = None
    avg_generation = None
    if education_level == 'College':
        avg_education = education['Net worth'].iloc[-4]
    elif education_level == 'SomeCollege':
        avg_education = education['Net worth'].iloc[-3]
    elif education_level == 'HS':
        avg_education = education['Net worth'].iloc[-2]
    elif education_level == 'NoHS':
        avg_education = education['Net worth'].iloc[-1]
    else:
        print('Education not identified. Please Try Again')
        
    
    if race_ == 'White':
        avg_race = race['Net worth'].iloc[-4]
    elif race_ == 'Black':
        avg_race = race['Net worth'].iloc[-3]
    elif race_ == 'Hispanic':
        avg_race = race['Net worth'].iloc[-2]
    elif race_ == 'Other':
        avg_race = race['Net worth'].iloc[-1]
    else:
        print('Race not identified. Please Try Again')
        
    if generation_ == 'Silent':
        avg_generation = generation['Net worth'].iloc[-4]
    elif generation_ == 'BabyBoom':
        avg_generation = generation['Net worth'].iloc[-3]
    elif generation_ == 'GenX':
        avg_generation = generation['Net worth'].iloc[-2]
    elif generation_ == 'Millennial':
        avg_generation = generation['Net worth'].iloc[-1]
    else:
        print('Generation not identified. Please Try Again')
    
            
    if avg_race == None or avg_education == None or avg_generation == None: 
        avg_wealth = None    
        print('Incorrect Input')
    else:
        avg_wealth = round((avg_education + avg_race + avg_generation)/3,2)
    

    
    return print('$',avg_wealth)

In [118]:
print('Type of educations')
print(education['Category'].tail(4))

print('Type of races')
print(race['Category'].tail(4))

print('Type of generations')
print(generation['Category'].tail(4))

Type of educations
492        College
493    SomeCollege
494             HS
495           NoHS
Name: Category, dtype: object
Type of races
492       White
493       Black
494    Hispanic
495       Other
Name: Category, dtype: object
Type of generations
492        Silent
493      BabyBoom
494          GenX
495    Millennial
Name: Category, dtype: object

In [132]:
predict_wealth('HS','Other','Millennial')

$ 9244147.0

In [86]:
## machine learning model

# Conclusion